<div class="mb-4">
<carousel [height] ="400" [cellsToShow]="1" [dots]="true" [arrowsOutside]="false" [loop]="true"
[autoplay]="true" [autoplayInterval]="2000" [cellWidth]="100" [lightDOM]="true"
arrowsTheme="light" [margin]="2">
    <div class="carousel-cell">
        <img src="/assets/images/334902.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/assets/images/0e2faf710432fb6f24ccf6de822c57eb.jpg" height="400px" />
    </div>
    <div class="carousel-cell">
        <img src="/assets/images/2a9bceeaad7691221c9dc9c142282dee.jpg" />
    </div>
    <div class="carousel-cell">
        <img src="/assets/images/484baf562c149272c83d83dbaae8a079.jpg" />
    </div>
</carousel>
</div>
