<div class="block border-box mx-auto min-h-full w-full p-3 subpixel-antialiased">
  <app-header></app-header>
  <app-carousal></app-carousal>
  <div class="text-center mb-8">
    <h1 class="mb-2 font-bold text-xl">Multi purpose Theme</h1>
    <p class="md:px-8 text-sm sm:px-12">
      <span class="container inline-block mx-auto">
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Natus, ipsam. Magnam nam laboriosam expedita assumenda necessitatibus
        architecto quo molestias officiis quidem aliquid sunt iste, excepturi est eveniet a incidunt rerum.
      </span>
    </p>
  </div>
  <div class="text-center block px-3 mb-5">
    <div class="card-container md:justify-between md:flex sm:block">
      <app-cards title="Responsive" imagename="heart.png" ></app-cards>
      <app-cards title="Multi Purpuse" imagename="google-maps.png" ></app-cards>
      <app-cards title="Eay Customie" imagename="desktop.png" ></app-cards>
  </div>
  </div>
  <div class="md:block sm:flex flex-col text-center black px-3 mb-5">
    <div class="flex-1">
      <p class="title h-5 mb-2 text-green-600 font-bold text-xl">enNo</p>
      <p class="p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In at dolorum vel, expedita officia aspernatur veniam minus</p>
    </div>
    <div class="flex-1">
      <p class="h-5 mb-2 font-bold text-xl">Latest Post</p>
      <ul class="post p-4">
        <li>This is awesome post title</li>
        <li>Awesome feature are awesome</li>
        <li>Create your own awesome Website</li>
        <li>Wow, this is fourth post title</li>
      </ul>
    </div>
    <div class="flex-1">
      <p class="h-5 mb-2 font-bold text-xl">Stay in touch</p>

    </div>
  </div>
</div>
