/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Poppins');

.readmore {
  @apply border-2 p-2 border-blue-900 hover:text-white hover:bg-gray-900;
}

.post {
    li {
    @apply md:text-left mb-3 sm:text-center;
  }
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html, body {
  font-family: 'Poppins';
}
