<div class="card text-center flex flex-col mb-4">
  <p class="cardtitle font-semibold">{{title}}</p>
  <div class="cardimage mx-auto my-4">
    <img src="/assets/icons/{{imagename}}" height="40px" alt="">
  </div>
  <div class="cardcontent px-8">
    <p class="p-2 font-thin text-black">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore dolor mollitia, perspiciatis pariatur, libero assumenda optio corporis sed eaque rerum minima dolores nisi non, quos modi perferendis obcaecati ipsum quisquam?</p>
  </div>
  <div class="cardfooter my-6">
    <button class="readmore">
      Read More
    </button>
  </div>
</div>
